@import "reset.css";
@import "home.css";
@import "email.css";
@import "notes.css";

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea{
    resize:none;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .1.3s ease;
  }
  .component-fade-enter, .component-fade-leave-to {
    opacity: 0;
  }