@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,700');


.notes-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-note{
    display: flex;
    height: 50px;
    width: 500px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border: 0;
    border-radius: 7px;
    margin:50px;
    justify-content: space-between;
}    

.new-note input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    outline: none;
}

.new-note textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px;
    outline: none;
    width: 80%;
    resize: none
}

.upload-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.createMode {
    min-height: 150px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
}

.createMode textarea{
    width: 97%;
}

.text-note{
    display: flex;
    flex-flow: column;
}
.text-note > * {
    border:0;
    margin: 5px
}

.note-card {
    width: 240px;
    min-height: 50px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: 10px;
    transition: .2s ease
}

.note-card > h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.note-card > p{
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.note-card:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    
}

.fa-youtube{
    font-size: 30px;
    margin:5px;
    color: red;
    cursor: pointer;
}

.fa-cloud-upload-alt{
    font-size: 25px;
    margin:5px;
    color: #009acd;
    cursor: pointer;
}