@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,700');


.notes-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-notes{
    justify-content: center;
    width: 750px;
}

.new-note{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    height: 50px;
    width: 500px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    border: 0;
    border-radius: 7px;
    justify-content: space-between;
    transition: .3s;
}    

.new-note input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    outline: none;
    transition: .3s;
}

.new-note textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px;
    outline: none;
    width: 80%;
    resize: none;
    transition: .3s;
}

.upload-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.createMode {
    min-height: 150px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.75);
}

.createMode textarea{
    width: 97%;
}

.notes-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 5px;
    width: 100%;
}

.text-note{
    display: flex;
    flex-flow: column;
}
.text-note > * {
    border:0;
    margin: 5px
}

.note-card {
    width: 240px;
    min-height: 115px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: 10px;
    transition: .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note-card > div{
    display: flex;
    justify-content: space-between;
}
.note-card > div > i{
    font-size: 17px;
}

.note-card > div >h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.note-card > p{
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    flex-grow: 1
}

.note-card:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75); 
}

.video-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    min-height: 50px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: 10px;
    transition: .2s ease;
    padding: 10px
}

.video-card:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75); 
}
.fa-youtube{
    font-size: 30px;
    margin:5px;
    color: red;
    cursor: pointer;
}

.fa-cloud-upload-alt{
    font-size: 25px;
    margin:5px;
    color: #009acd;
    cursor: pointer;
}

input.color-input {
    background-color: rgb(170, 204, 136);
    color: rgb(34, 34, 34);
    font-size: 0px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.opt-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 150px;
}

.fa-map-pin {
    font-size: 22px;
    color: gray;
    cursor: pointer;
}
.fa-map-pin:hover {
    color: black;
}

.fa-trash {
    cursor: pointer;
    margin-left: 10px;
    color: gray;
}

.fa-trash:hover {
    color: black
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .5s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(299,299,299,0.6); /* Black w/ opacity */
    
  }


  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 1px rgb(231, 231, 231);
  }

  .modal-content > *{
      border: none;
      outline: none;
      font-size: 20px;
      margin-bottom: 20px;
      padding-left: 8px;   
  }

  .modal-content input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  .modal-content textarea{
    font-family: 'Roboto', sans-serif;
    resize: none; 
  }


  .close {
    cursor: pointer;
    width: 25px
  }